body {
  margin: 0;
  background: #0d0d0d;
  color: white;
  font-family: Arial;
  text-align: center;
}

.topbar {
  background: black;
  padding: 10px;
  font-weight: bold;
  color: cyan;
}

.card {
  margin-top: 80px;
  padding: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  background: cyan;
  border: none;
  cursor: pointer;
}

.login, .panel {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  padding: 20px;
  border: 1px solid cyan;
}
